In [1]:
# Superstore Sales project
# Part 1 - data cleaning 

import pandas as pd
df = pd.read_csv("/Users/thomassimmons/Coding/SS/Superstore.csv", encoding="latin1")

In [ ]:
df.head()
df.describe()
df.isnull().sum()
# No null entries, good!

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [8]:
# Data types
print("Data types for this dataset:\n", df.dtypes)

Data types for this dataset:
 Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [11]:
df['Order Date']
df['Order Date'] = pd.to_datetime(df['Order Date'])

In [12]:
# Checking for changes
df['Order Date'].head()

0   2016-11-08
1   2016-11-08
2   2016-06-12
3   2015-10-11
4   2015-10-11
Name: Order Date, dtype: datetime64[ns]

In [13]:
# Doing the same for ship date column
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

In [ ]:
df['Ship Date'].head()
# Good to go with these columns

0   2016-11-11
1   2016-11-11
2   2016-06-16
3   2015-10-18
4   2015-10-18
Name: Ship Date, dtype: datetime64[ns]

In [ ]:
df.duplicated().sum()  
# No duplicates

0

In [17]:
df.drop(columns=['Row ID'], inplace=True)

In [18]:
df.columns

Index(['Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID',
       'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code',
       'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name',
       'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [20]:
df.columns

Index(['Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID',
       'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code',
       'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name',
       'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [23]:
df['Segment'] = df['Segment'].str.strip()

In [24]:
df['Category'] = df['Category'].str.strip()

In [25]:
print(df['Segment'].unique())
print(df['Ship Mode'].unique())

['Consumer' 'Corporate' 'Home Office']
['Second Class' 'Standard Class' 'First Class' 'Same Day']

In [ ]:
# Dropping any duplicates
df.drop_duplicates(inplace=True)